
.btn-secondary {
    color: #fff;
    background-color: #026873;
} 

.card {
    max-width: 255px; 
    height: auto;
    border-radius: 10px;
    color: white;
}

h1 {
    font-size: 40px;
    color: #026873;

}

.showAll{
    color: #026873;
    font-size: 20px;
    text-decoration: underline;
}