@font-face {
    font-family: 'Somar-Bold';
    src: url('fonts/Somar-Bold.eot');
    src: url('fonts/Somar-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Somar-Bold.woff2') format('woff2'),
        url('fonts/Somar-Bold.woff') format('woff'),
        url('fonts/Somar-Bold.ttf') format('truetype'),
        url('fonts/Somar-Bold.svg#Somar-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Somar';
    src: url('fonts/Somar-Light.eot');
    src: url('fonts/Somar-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/Somar-Light.woff2') format('woff2'),
        url('fonts/Somar-Light.woff') format('woff'),
        url('fonts/Somar-Light.ttf') format('truetype'),
        url('fonts/Somar-Light.svg#Somar-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}



body{
    font-family: 'Somar' !important;
}

body h1 {
    color: #026873;
    font-size: 40px;
}

body h2{
    color: #343434;
    font-size: 32px;
}

p {
    color: #026873;
    font-size: 15px;
}

.date {
    color: gray;
}

.showAllHeader {
    color: #026873;
    font-size: 20px;
    text-decoration: underline;
}

.showAll {
    color: #343434;
    text-decoration: underline;
}

.btn-secondary {
    color: #fff;
    background-color: #014E57;
}


.cover-paraghraph{
    color: white;
    font-size: 20px;
}

#nav ul li {
    color: white;
    font-size: 20px;
    margin: 0 10px;
}


.grayBG {
    background-color: #E6F6F0;
}

.container {
    padding: 0;
}

.section1 {
    background-image: url('img/cover.png');
    background-repeat: no-repeat;
    background-color: #020111;
    background-position: right center;
    background-size: auto;
    min-height: calc(100vh - 80px);
  }

  .loginBG {
    background-image: url('img/loginBG.png');
    background-repeat: no-repeat;
    background-color: #020111;
    background-position: right center;
    background-size: auto;
    min-height: calc(100vh);
  }

  .blogImgViewMore{
        background-image: url('img/Blog.png');
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-background-size: cover;
        background-size: cover;
        height: calc(60vh);
  }

.sectionHeight{
    min-height: calc(100vh);
}

.blogs {
    border: none;
}

.footerIcons{
    color: white;
}
.footerIcons:hover{
    color: gray;
}

.catogary {
    height: auto;
    border-radius: 10px;
    color: white;
     
}


.blogs {
    border: none;
}

.blog-img {
    border-radius: 25px;
}


.footerList {
    background-color: transparent;
    border: none;
    padding: 0%;
}

.sectionsPadding{
    padding: 0 7%;
}



